.container {
  margin: auto;
  background: rgb(157, 157, 157);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  width: 100%;
  height: 100%;
}
